<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<figure class="newsauthor-img">
    <f:link.typolink parameter="{img.originalResource.properties.link}">
        <f:media
            file="{img}"
            width="{imgWidth}"
            height="{imgHeight}"
            alt="{img.originalResource.alternative}"
            title="{img.originalResource.title}"
            class="{cssClass}"
            />
    </f:link.typolink>

    <f:if condition="{img.originalResource.properties.description}">
        <figcaption>{img.originalResource.properties.description}</figcaption> 
    </f:if>
</figure>

</html>